.display {
  background: #e6ee9c;
  border: 5px solid #ffffff;
  max-width: 400px;
}

.display-main {
  height: 100px;
  word-wrap: break-word;
}

.display-calc {
  font-size: 1.2em;
  height: 50px;
}
